.hero-section {
  width: 100%;
  height: 270px;
  background-color: var(--css-black);
}
.middle-section {
  display: flex;
  width: 799px ;
  height: 212px;
  justify-content: flex-start;
  padding: 29px 0 0 327px;
  font-family: "Poppins", sans-serif;
  color: var(--css-white);
}
.paragraph {
    flex: 1;
}
.para-first, .para-second {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
  };

  /* .para-first {
    width: 473px;
  }
  
  .para-second {
    width: 556px;
  } */
.headphone-container {
  width: 212px;
  height: 212px;
  padding: 29px 0 0 0;
}
.headphone {
  width: 116.63px;
  height: 117.08px;
}
