.search{
    display: flex;
    min-width: 568px;
    border: 1px;
    border-color: var(--css-black);
}
.input-box{
    flex: 1;
    border-radius: 8px 0px 0px 8px;
    padding: 12px;
    font-family: 'Poppins', sans-serif;
    height: 48px;
}
.search-icon{
    height: 48px;
    width: 66px;
    border-radius: 0px 8px 8px 0px;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 8px
}
.popup{
    position: absolute;
    width: 773px;
    height: 455px;
    background-color: var(--css-black);
    top: 73px;
}