.album-items {
  height: 96px;
  width: 100%;
  border: 1px solid var(--css-white);
  color: var(--css-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-wrapper {
  width: 80px;
  height: 100%;
}
.title-wrapper {
  flex: 1;
  padding: 5px;
}
.follows-wrapper {
  width: 100px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
