* {
  font-family: "Poppins", sans-serif;
}
.card-wrapper {
  height: 235px;
  width: 160px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  background-color: var(--css-black);
}
.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}
.card-img-frame {
  width: 100%;
  height: 170px;
}
.card-img-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-content {
  display: flex;
  flex: 1;
  height: 23px;
  background-color: var(--css-white);
  align-items: center;
}
.card-pill {
  color: var(--css-white);
  background-color: var(--css-black);
  border-radius: 10px;
  font-size: 10px;
  padding: 5px;
  display: inline-block;
}
.card-label {
  height: 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--css-white);
}
