
.navbar{
    width: 100%;
    /* width: 100vw; */
    display: flex;
    height: 74px;
    background-color: var(--css-primary);
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px
}
.logo{
    width: 67px;
    height: 34px;
    
}
