.mySwiper{
  color: var(--css-white);
  position: relative;  
  padding: 10px;
}
.arrow{
    border: none;
    background: transparent;
    position: absolute;
    top: 68px;
    z-index: 1;
}
.arrow-left{
    left: -4px;
}
.arrow-right{
    right: 0px
}
